@media(max-width:600px){
     .body{
        overflow-x: hidden;
    }
     .bg-image{
    background-image: url(Fin.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 500px;
    padding-top: 30px;
} 
.head ul{
display: none;
}
.nav{
    position: sticky;
    display: flex;
    top: 0;
width: 100%;
height:70px;
justify-content:space-between;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color:rgb(23 31 57);
}
.logo{
    width: 60px;
    height: auto;
    padding: 5px;
}
.nav-style{
    display:none;
}
.nav-right {
display: none;
}
.bars i{
   display: block;
    font-size: 28px;
    color:white;
    cursor:pointer;
    padding:10px;
 }
 .bg-image .home-page  p{
    font-size: 12px;
    font-family: "Poppins", "Montserrat", sans-serif;
  color: rgb(182 32 140);
  font-weight: bold;
  margin-bottom: -20px;
}
.home-1 h1{
    font-size: 28px;
    font-family: "Poppins", "Montserrat", sans-serif;
    color:white;
  text-shadow: 1px 1px 1px  black;
  font-weight: bold;
  line-height: 1.6;
}
.home-1 h1 span{
    font-size:28px;
    font-family: "Poppins", "Montserrat", sans-serif;
    color:rgb(182 32 140);
   text-shadow: 1px 1px 1px  black;
   font-weight: bold;
   line-height: 1.6;
}
.break-line{
    display: none;
}
.para1 p{
    font-size: 18px;
    padding:0 15px;
} 
.home-list ul{
    margin-top: 60px;
     display:flex;
     flex-direction: column;
    list-style: none;
   gap:20px;
   align-items: center;
   margin-left: -30px;
}
.home-list ul li{
     width: auto;
     font-size: 16px;
     font-weight: bold;
    border-radius: 20px;
    padding: 15px;
  /* background-image: linear-gradient(to bottom right,blue,violet); */
}
.about-main{
padding:20px 12px;
height: auto;
}
.about-head1 p{
   font-size:20px;
}
.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
     padding:30px;
     margin-bottom: 0px;
} 
.about-card1{
width:100%;
}
.service-body{
   padding:20px 12px;
height: auto;
/* margin-left: -15px; */
}
 .service1 h6{
    font-size: 25px;
}
.service1 h1{
    font-size: 32px;
    text-align: center;
}
.service1 p{
    font-size:18px;
    font-family: "Montserrat", sans-serif;
    color:rgb(56, 63, 103);
    line-height: 1.6;
    word-spacing: 0.5px;
    opacity: 0.6;
}
.serv-cards p{
    font-size: 17px; 
}
.service2{
    display:flex;
    flex-direction: column;
    height: auto;
    margin-top: 50px;
    padding: 5px  35px 5px 23px;
    width:100%;
}
.serv-cards{
width:59.5%;
}
.serv-card-icon{
    position: relative;
}
.serv-but {
   display:flex;
   justify-content: center;
   margin-top: 100px;
}
.why-choose{
    padding:20px 12px;
    height: auto;
}
.choose1{
    text-align: center;
}
.choose1 h6{
    font-size: 18px;
    font-weight: lighter;
}
.choose1 h1{
    font-size: 27px;
margin-top: -20px;
line-height: 1.6;
}
.choose-card{
    display: flex;
    flex-direction: column;
}
.ch-cards h4{
color: white; 
font-family:  "Poppins", "Montserrat", sans-serif;
}
.ch-cards p{
color: rgba(255,255,255,0.75); 
font-size: 16px;
font-family:  "Poppins", "Montserrat", sans-serif;
line-height: 1.6;
}
.ch-cards{
    width:145%;
    height: 250px;
    margin-left:-45px ;
     text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.float-left{
    margin-left: 0px;
}
.people-body{
   margin-left: -140px;
   height:auto;
}
.people1{
    width:100%;
}
 .people-hp h5{
    font-size: 16px;
    letter-spacing:0px;
    line-height:1;
}
.people-hp p{

  text-align: left;
  font-size: 14px;
  line-height: 1;
  margin-top: -15px;
} 
.people2{
    margin-top: 25px;
}
.people2-1{
    margin-top: 40px;
}
.people-hp{
margin-top: -25px;
}
 .people-style{
    display: flex;
    flex-direction: column;
 margin-left: 100px;
}
.right-image {
    margin: 20px;
    /* margin-top: 20px; */
} 
.another-body{
    margin: 0;
    width: 100%;
    height:1350px;
    /* background-image: linear-gradient(to bottom right,rgb(106, 147, 186),rgb(38, 73, 106),purple); */
}
.another-head{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.another1{
  width:90%;
}
.another2-1{
  display: flex;  
  width:100%;
  height: 90px;
  border: 1px;
  background-color:  rgb(106, 147, 186,.2);
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 2px black;
}
.another2-1 .font-set1{
  margin-top: 20px;
}

.another-hp h6{
    font-size: 15px;
}
.another-hp p{
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: normal;
}
.another-hp{
    padding: 20px;
       /* margin-top: 0px; */
       /* margin-bottom: 2px; */
}
.fab-but{
    margin-top: -20px;
}
.another-container{
    width: 100%;
    max-width: 350px;
    height: 350px;
    margin-top: 15px;
}
.font-set12{
     margin-left: 150px;
}
.gradient-bubble {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(
    circle at top left,rgba(128, 0, 128, 0.3));
    margin-left: 250px;
}
.another-container .get-started{
    margin-left: 100px;
}
.reveiw-body{
    margin-top: 50px;
    width:100%;
    height: 300px;
}
.reveiw{
    font-size: 20px;
}
.images-align{
    display: none;
}
.images-align1{
    display: none;
}
.images-align2{
    display: none;
}
.images-align3{
    display: block;
    font-family: "Poppins", "Montserrat", sans-serif;
    color:rgb(97, 99, 117);
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 17px;
    text-align: center;
}
.contact-us{
    width: 100%;
    height: 200px;
     background-image: linear-gradient(to right,rgb(56 67 162),rgb(171 36 143));
}
.contact-1{
    margin: 0%;
}
.contact-2{
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 15px;
}
.contact2-1{
    padding:0;
    width:100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact2-1 h5{
     line-height: 1.2;
     font-size: 20px;
     margin-top: 20px;
}
.contact2-1 p{
    line-height: 1.6;
    font-size: 16px;
    margin-top: 3px;
}
.contact-box{
    margin-top: 10px;
}
/* .contact2-1 h5{
    line-height: 1.2;
    font-size: 25px;
    text-align: center;
} */
/* .contact2-1 p{
    line-height: 1.6;
    font-size: 20px;
    text-align: center;
} */
.last-page{
     width:100%;
     height: auto;
}
.last-page1{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-left: 20px;
}
.bottom-page{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}
/* .people2-last{
    width: 100%;
    /* margin-left: -30px; */
/* }
.people2-last .people-hp-last{
    margin-left: 20px;
}
.people2-last .font-set{
    margin-left: -10px;
}  */
  .people2-last{
    width: 100%;
}
.footer{
    width:100%;
    height:100px;
}
}